frontend/angular-recipeList/package-lock.json
frontend/angular-recipeList/package-lock.json
# Logs
logs
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependenc directories
node_modules/
package-lock.json

# Distribution / build results
/build/

# Caches
.angular/cache/
.prettiercache

#IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
._*
*.DS_Store

#Environment files
.env
frontend/angular-recipeList/.angular/cache/
frontend/resources/
