<div class="container">
  <div class="card-title">
    <h1>Create Account</h1>
    <span>Already have an account? <a routerLink="/login">Sign In</a></span>
  </div>
  <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      name="email"
      placeholder="Email"
      formControlName="email"
    />

    <input
      type="username"
      name="username"
      placeholder="Username"
      formControlName="username"
    />

    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
    />
    <button type="submit" class="btn">Register</button>
  </form>
</div>
