<section class="main-content" *ngIf="showComponent">
  <div class="side">
    <h3>Meal List</h3>
    <div class="mealList">
      <div class="" *ngFor="let meal of mealList">
        <div class="menuItem" id="{{ meal.id }}">
          <a
            routerLink="/recipes/{{ meal.recipeId }}"
            class="name"
            *ngIf="meal.name.length < 32"
            >{{ meal.name }}</a
          >
          <a
            routerLink="/recipes/{{ meal.recipeId }}"
            class="name"
            *ngIf="meal.name.length >= 32"
          >
            {{ meal.name.substring(0, 32) }}..
          </a>
          <div class="quantity">
            <i class="fa-solid fa-minus" (click)="decreaseQuantity(meal)"></i>
            <span class="mealQuantity">{{ meal.quantity }}</span>
            <i class="fa-solid fa-plus" (click)="increaseQuantity(meal)"></i>
          </div>
          <button
            (click)="deleteItem(meal)"
            class="btn btn-dark btn-sm delete"
          >
            Delete
          </button>
          <button
            routerLink="/meal-list/{{ meal.recipeId }}"
            (click)="showIngredients()"
            class="btn btn-dark btn-sm view"
          >
            View Ingredients
          </button>
        </div>
      </div>
    </div>

    <div class="checkoutBtns">
      <button routerLink="/purchase-details" class="btn btn-dark" *ngIf="mealList.length > 0">Purchase Meals</button>
      <button class="btn btn-dark" (click)="showTotalIngredients()" *ngIf="mealList.length > 0">
        View total ingredient list
      </button>
    </div>
  </div>

  <div class="side ingredients">
    <app-ingredient-list
      id="ingredientComponent"
      class=""
      *ngIf="showIngredientList"
    ></app-ingredient-list>
    
    <app-total-ingredient-list
      id="ingredientComponent"
      class=""
      *ngIf="showTotalIngredientList"
    ></app-total-ingredient-list>
  </div>
</section>
