<div class="main-content">
<h3>Purchase Confirmation</h3>
  <table class="table table-dark table-striped">
    <thead class="header">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price Per Meal</th>
        <th>Total Meal Prices</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of mealList">
        <td>{{ meal.name }}</td>
        <td>{{ meal.quantity }}</td>
        <td>$8.99</td>
        <td>{{ (meal.quantity * 8.99).toString() | currency: 'USD' }}</td>
      </tr>
      <tr>
        <td colspan="3" class="totalLbl">Total:</td>
        <td>{{ purchaseTotal.toString() | currency: 'USD' }} </td>
      </tr>
    </tbody>
  </table>
    <button routerLink="/" class="btn btn-dark">Back to Home Page</button>
</div>
