.logo {
  color: #205b8d;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo:hover {
  color: #05143f;
}

@media (max-width: 1600px) {
}

@media (max-width: 1120px) {
  .header-desktop .section-content {
    margin: 1.75rem 0;
  }

}

@media (max-width: 990px) {
  .header-desktop .section-content {
    margin: 1.75rem 0;
  }
}
