.security-btn {
  position: relative;
  right: 0;
  min-width: 95px;
  color: #ffff;
  border: 10px solid #205b8d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 43px;
  background: #205b8d;
}

.login-status-header {
  display: flex;
  margin-left: 2rem;
}

.login-status-user-info {
  line-height: 43px;
  border: 1px;
  padding: 0 17px;
  border-radius: 3px;
  transition: all 0.5s ease;
}

@media (max-width: 1150px) {
    .login-status-header {
        font-size: .8rem;
    }
  .security-btn {
    min-width:  95px;
    font-size: 1rem;
  }
}

@media (max-width:820px) {
    .login-status-user-info {
        display: none;
    }
}
